<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<div class="content">
    <h1>Home Page - OCR APP</h1>
    <hr>
    <br/>
    <br/>
    <div class="descripcion">
        <p>OCR App es una aplicación web que permite reconocer texto a partir de una imagen y por medio de una librería de python. 
                Esta imagen es cargada en la pestaña "OCR" y los resultados se muestran en la misma.
                <br/>Dichos resultados son: número de líneas reconocidas por la librería, texto reconocido por la librería y una 
                lista con las 7 palabras más utilizadas en el texto con el formato: "palabra - veces usada"</p>            
    </div>
</div>

{% endblock%}